html, body { 
    height: 100%; /* Ensure the body takes the full height */
    margin: 0;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    align-items: right;
    font-family: "Jost", sans-serif;
    background-color: #ffefa6;
}

.flexbox-grid { 
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    margin-right: 100px;
    margin-left: 100px;
    padding-left: 25px;
}

h2 {
    display: flex;
    border-radius: 10px
}

h1 {
    display: flex;
    margin: center;
    text-align: center;
    margin-left: 650px;
}   

img {
    display: flex;
    margin: 10px;
    padding: 0;
    float: right;
}

.return { 
    display: flex; 
    margin: auto;
    flex-direction: column; 
    align-items: top; 
    padding: 10px;
    border-radius: 10px;
    color: #000000;
}

.return-button {
    cursor: pointer;
    padding: 10px 20px; 
    margin: auto; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.return-button:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

@keyframes noodle-animation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-550vh);
        opacity: 1;
    }

}

.noodle {
    position: fixed;
    align-items: center;
    top: 150%;
    width: 1800px; /* Adjust width as needed */
    height: 4400px; /* Adjust height as needed */
    background: url('assets/NOODS.png') no-repeat center center; /* Replace with your noodle image */
    background-size: cover;
    animation: noodle-animation 3s forwards;
    z-index: 9999; /* Ensure it appears above other content */;
    animation-delay: -0s;
}
