html, body { 
    height: 100%; /* Ensure the body takes the full height */
    margin: 0; 
    background-image: url('assets/theone.png'); /* Set the background image */
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  
}

.enter-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #936b25; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.enter-button:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}
  
.container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; /* Center content vertically */
    height: 100%; /* Ensure the container takes the full height */
    padding: 20px; /* Adjust padding as needed */
    
}

.section {
    display: flex;
    align-items: center;
    border-color: #FFC300;
    border-style: solid;
    background-color: #936b25;
    color: #000000;
    border-radius: 20px;
    border-width: 10px;
    padding-left: 500px;
    padding-right: 500px;
    margin: 20px;
}

.header { 
    border-color: #FFC300;
    border-style: solid;
    border-width: 15px;
    margin-bottom: 100px; 
    background-color: #936b25;
    color: #000000;
    border-radius: 30px;
    padding: 10px;
    
}

.hero { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    border-radius: 10px;
    background-color: #FFC300;
    color: #000000;
    margin: 10px;
}

.toggle-label { 
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #000000; 
    color: white; 
    border: none; 
    border-radius: 5px; 
}

.title {
    background-color: #936b25;
    border-color: #FFC300;
    border-style: solid;
    border-width: 15px;
    color: #000000;
    border-radius: 30px;
    padding: 20px;
    margin: 5px
}

.card-section { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}

.card-grid { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    width: 100%; 
    padding-left: 50px;
    padding-right: 50px;
}

.card { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
    background-color: #e0e0e0; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
}

.return { 
    display: flex; 
    flex-direction: column; 
    align-items: top; 
    padding: 10px;
    border-radius: 10px;
    background-color: #FFC300;
    color: #000000;
}

.return-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #936b25; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.return-button:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.aboutme-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #936b25; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.aboutme-button:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.aboutme { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    border-radius: 10px;
    background-color: #FFC300;
    color: #000000;
}