html, body { 
    height: 100%; /* Ensure the body takes the full height */
    margin: 0; 
    background-image: url('assets/theone.png'); /* Set the background image */
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
  
}

.enter-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #936b25; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.enter-button:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}
  
.container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; /* Center content vertically */
    height: 100%; /* Ensure the container takes the full height */
    padding: 20px; /* Adjust padding as needed */
    
}

.section {
    display: flex;
    align-items: center;
    border-color: #FFC300;
    border-style: solid;
    background-color: #936b25;
    color: #000000;
    border-radius: 20px;
    border-width: 10px;
    padding-left: 500px;
    padding-right: 500px;
    margin: 20px;
}

.header { 
    border-color: #FFC300;
    border-style: solid;
    border-width: 15px;
    margin-bottom: 100px; 
    background-color: #936b25;
    color: #000000;
    border-radius: 30px;
    padding: 10px;
    
}

.hero { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    border-radius: 10px;
    background-color: #FFC300;
    color: #000000;
    margin: 10px;
}

.toggle-label { 
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #000000; 
    color: white; 
    border: none; 
    border-radius: 5px; 
}

.title {
    background-color: #936b25;
    border-color: #FFC300;
    border-style: solid;
    border-width: 15px;
    color: #000000;
    border-radius: 30px;
    padding: 20px;
    margin: 5px
}

.card-section { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}

.card-grid { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    width: 100%; 
    padding-left: 50px;
    padding-right: 50px;
}

.card { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
    background-color: #e0e0e0; 
    border: 0px solid #000000; 
    border-radius: 8px; 
}

.return { 
    display: flex; 
    flex-direction: column; 
    align-items: top; 
    padding: 10px;
    border-radius: 10px;
    background-color: #FFC300;
    color: #000000;
}

.return-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #936b25; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.return-button:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.aboutme-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #936b25; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.aboutme-button:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.aboutme { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    border-radius: 10px;
    background-color: #FFC300;
    color: #000000;
}

.originalbuldak-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #C70039; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.originalbuldak-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.originalbuldak { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.carbonarabuldak-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #f066a7; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.carbonarabuldak-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.carbonarabuldak { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.cheesebuldak-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #f7d052; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.cheesebuldak-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.cheesebuldak { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.jjajangbuldak-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #acf752; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.jjajangbuldak-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.jjajangbuldak { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.habanerolimebuldak-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #dc52f7; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.habanerolimebuldak-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.habanerolimebuldak { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.quattrobuldak-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #f7a552; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.quattrobuldak-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.quattrobuldak { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.originalindomie-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #C70039; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.originalindomie-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.originalindomie { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.hotnspicyindomie-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #f75287; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.hotnspicyindomie-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.hotnspicyindomie { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.barbequechickenindomie-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #52c0f7; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.barbequechickenindomie-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.barbequechickenindomie { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.originalshin-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #C70039; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.originalshin-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.originalshin { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.blackshin-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #000000; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.blackshin-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.blackshin { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

.lightshin-button {
    cursor: pointer;
    padding: 10px 20px; 
    background-color: #FFFFFF; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; /* Adjust font size as needed */
    transition: transform 0.2s; /* Smooth transition for the hover effect */
}

.lightshin-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.lightshin { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.2s;
}

@keyframes noodle-animation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-550vh);
        opacity: 1;
    }

}

.noodle {
    position: fixed;
    top: 150%;
    align-items: center;
    width: 1800px; /* Adjust width as needed */
    height: 4400px; /* Adjust height as needed */
    background: url('assets/NOODS.png') no-repeat center center; /* Replace with your noodle image */
    background-size: cover;
    animation: noodle-animation 3s forwards;
    z-index: 9999; /* Ensure it appears above other content */;
    animation-delay: -0s;
}
